<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title text-uppercase>  {{ quoteCollection.category }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quote of quoteCollection.quotes; let i = index;">
    <ion-card-header>
      #{{ i+1 }}
    </ion-card-header>
  
    <ion-card-content>
      <p>{{ quote.text }}</p>
      <p text-uppercase text-right class="author">{{ quote.person }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button *ngIf="!isFavorite(quote)" ion-button clear small color="secondary" (click)="addToFavorites(quote)">Favorite</button>
        <button *ngIf="isFavorite(quote)" ion-button clear small color="danger" (click)="removeFromFavorites(quote)">Unfavorite</button>
      </ion-col>
    </ion-row>
    </ion-card>
</ion-content>
